body{
  margin:0;
}
.square{
  height:600px;
  width:100%;
}
.main-block{
  height:100%;
  width:80%;
  display:inline-block;
  vertical-align: top;
}

.first-block{
  background-color:#C6D9F1;
  width:100%;
  vertical-align: top;
  height:20%;
}

.second-block{
  background-color:#EAF1DD;
  width:20%;
  height:100%;
  display:inline-block;
}
.third-block{
  display: inline-block;
  width:20%;
  height:80%;
  background-color:#FDE9D9;
  vertical-align: top

}
.middle-blocks{
  display: inline-block;
  width:80%;
  height:80%;
}
.forth-block{
  width:100%;
  height:10%;
  background-color:#DB5A04;
  display:flex;
  align-items: center;
  justify-content: center;
}
.fifth-block{
  width:100%;
  height:90%;
  background-color: #FFFFFF;
}
.sixth-block{
  width:100%;
  height:121px;
  background-color: #C6D9F1;
}

.first-block-text{
  display:flex;
  color:white;
  height: 100%;
  align-items: center;
}
.sixth-block-text{
  display:flex;
  color:white;
  height: 100%;
  align-items: center;
  justify-content:flex-end;
}
.first-block-text h1{
  margin:0;
  margin-left: 30px;
}
.sixth-block-text h2{
  margin:0;
  margin-right: 40px;
}
.menu-text{
  margin:0;
  padding-top:0.5em;
  padding-bottom:0.5em;
  text-align:center;
  font-size: 1.6rem;
  font-family: "Arial";
  border-bottom: solid;
  border-top:solid;
  margin-bottom: 0.5em;
}
.menu-elements{
  display:block;
  color:black;
  padding-top:0.5em;
  padding-bottom:0.5em;
  font-size:1.25rem;
  font-family:"Arial";
  transition: 0.15s;
  text-decoration: none;
  text-align: center;
}
.menu-elements:hover{
  background-color: #CCCCCC;
  cursor:pointer;

}
.main-space{
  margin:0;
  font-size: 1.75rem;
  color:white;
}
p{
  font-family: "Ariel";
}
.fifth-block-text{
  margin:0;
  padding-top:1em;
  padding-left:0.75em;
  padding-right:0.75em;
  font-size: 1.25rem;
}
.second-block-text{
  margin:0;
  padding:1em 0.75em;
  font-size: 1.25rem;
}
@media (max-width: 700px){
  html{
    font-size:12px;
  }
  .square{
    display:flex;
    flex-direction: column;
  }
  .main-block{
    width:100%;
    height: 80%;
    display:flex;
    flex-direction:column;
  }
  .first-block{
    width:100%;
    height:20%;
  }
  .second-block{
    width:100%;
    min-height:120px;
    height:auto;
  }
  .third-block{
    width:100%;
    height:15%;
  }
  .middle-blocks{
    width:100%;
    height:75%;
  }
  .menu-elements-list{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height:50%;
  }
  .menu-elements{
    padding-left:0.25em;
    padding-right:0.25em;
  }
  .menu-logo{
    height:50%;
  }
  .menu-text{
    padding-top:0.2em;
    padding-bottom:0.2em;
    margin:0;
  }

}
.forth-block{
  display:flex;
  justify-content: center;
  align-items: center;
}
.forth-block button{
  height:80%;
  width:30%;
  font-size:1rem;
  font-family:'Lucida Sans',"Arial";
}



.work{
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  display:none;
}
.controls{
  width:100%;
  flex-grow: 1;
  display:flex;
}
.anim{
  width:calc(100% - 10px);
  height: calc(100% - 50px);
  vertical-align:middle;
  border:solid;
  border-color: orange;
  border-width: 5px;
  background-image: url("texture.jpg");
  display:flex;
  justify-content: center;
  align-items: center;
}

.circle{
  width:32px;
  height:32px;
  border-radius: 50%;
  background-color: green;
  transition:200ms;
}


.messages{
  height:100%;
  width:50%;
  display:flex;
  align-items: center;
}
.messages p{
  margin:0;
  padding:0;
  width:100%;
  font-weight: bold;
  font-size:1.25rem;
  text-align: center;
}
.buttons{
  position:relative;
  height:100%;
  width:50%;
  border-right:solid;
}
.action-buttons,
.close-button{
  position:absolute;
  display:none;
  width:30%;
  left:5%;
  top:10%;
  height:80%;
}
.close-button{
  left:40%;
}


.canvas{
  width:100%;
  height: calc(100% - 50px);
  vertical-align:middle;
  background-image: url("texture.jpg");
}